In [5]:
import pandas as pd

In [6]:
csvpath = "Resources/HeroesOfPymoli_Resources_purchase_data.csv"

In [7]:
hopy_df = pd.read_csv(csvpath)
hopy_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/HeroesOfPymoli_Resources_purchase_data.csv'

In [8]:
# Player Count

In [9]:
# player count by unique SN
player_count = hopy_df["SN"].value_counts()
total_players = player_count.count()

total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

NameError: name 'hopy_df' is not defined

In [10]:
# Purchasing Analysis (Total)

In [11]:
# finding all unique item names
unique_items = hopy_df["Item Name"].value_counts()
count_of_unique_items = unique_items.count()

# average purchase price
average_price = hopy_df["Price"].mean()

# total number of purchases
total_purchases = hopy_df["Purchase ID"].count()

# sum of all revenue
total_revenue = hopy_df["Price"].sum()

NameError: name 'hopy_df' is not defined

In [12]:
purchase_analysis_df = pd.DataFrame({"No. Unique Items":[count_of_unique_items],
                                    "Avg Purchase Prie":[average_price],
                                    "Total No. Purchases":[total_purchases],
                                    "Sum of all Revenue":[total_revenue]})
purchase_analysis_df

NameError: name 'count_of_unique_items' is not defined

In [13]:
# Gender Demographics

In [14]:
# find percentage and count of MALE players
players_male_df = hopy_df.loc[hopy_df["Gender"]=="Male",:]
unique_sn = players_male_df["SN"].value_counts()

# count / percent
total_male_players = unique_sn.count()
percent_male = (total_male_players / total_players) * 100


# find percentage and count of FEMALE players
players_female_df = hopy_df.loc[hopy_df["Gender"]=="Female",:]
unique_sn = players_female_df["SN"].value_counts()

# count / percent
total_female_players = unique_sn.count()
percent_female = (total_female_players / total_players) * 100


# find percentage and count of OTHER players
players_other_df = hopy_df.loc[hopy_df["Gender"]=="Other / Non-Disclosed",:]
unique_sn = players_other_df["SN"].value_counts()

# count / percent
total_other_players = unique_sn.count()
percent_other = (total_other_players / total_players) * 100

NameError: name 'hopy_df' is not defined

In [15]:
gender_demo_df = pd.DataFrame({"Gender":["Male","Female","Other"],
                              "Count":[total_male_players, total_female_players,total_other_players],
                              "Pecent":[percent_male,percent_female,percent_other]})
gender_demo_df

NameError: name 'total_male_players' is not defined

In [16]:
# Purchasing Analysis (Gender)

In [17]:
# purchase count by gender
male_purchase_count = players_male_df["Purchase ID"].count()
female_purchase_count = players_female_df["Purchase ID"].count()
other_purchase_count = players_other_df["Purchase ID"].count()

# average price paid by gender
avg_male_price = players_male_df["Price"].mean()
avg_female_price = players_female_df["Price"].mean()
avg_other_price = players_other_df["Price"].mean()

# total purchase value by males only
total_male_purchase_value = players_male_df['Price'].sum()
total_female_purchase_value = players_female_df['Price'].sum()
total_other_purchase_value = players_other_df['Price'].sum()

# average purchase total by person by gender
avg_purchase_price_by_males = total_male_purchase_value / total_male_players
avg_purchase_price_by_females = total_female_purchase_value / total_female_players
avg_purchase_price_by_other = total_other_purchase_value / total_other_players

NameError: name 'players_male_df' is not defined

In [18]:
purchasing_analysis_df = pd.DataFrame({"Gender":["Male","Female","Other"],
                                                   "Purchase Count":[male_purchase_count, female_purchase_count,other_purchase_count],
                                                   "Avg Purchase Price":[avg_male_price, avg_female_price, avg_other_price],
                                                   "Total Purchase Value":[total_male_purchase_value, total_female_purchase_value, total_other_purchase_value],
                                                   "Avg Purchase Total p/g":[avg_purchase_price_by_males,avg_purchase_price_by_females,avg_purchase_price_by_other]})
purchasing_analysis_df

NameError: name 'male_purchase_count' is not defined

In [19]:
# Age Demographics

In [20]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
age_bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,99.99]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35+"]

In [483]:
age_demo_df = hopy_df.copy()

age_demo_df["Age Range"] = pd.cut(age_demo_df["Age"], age_bins, labels = group_names, include_lowest = True)

In [4]:
age_groupings = age_demo_df.groupby('Age Group')

total_by_ages = age_groupings['SN'].nunique()
percentage_by_age = (total_by_ages / total_players) * 100

age_demo = pd.DataFrame({"Percent of Players":percentage_by_age,
                           "Total Count":total_by_ages})

age_demo

NameError: name 'age_demo_df' is not defined

In [485]:
# Top Spenders

In [486]:
# group by SN to find unique
top_spenders = hopy_df.groupby('SN')

# count purchase id to see how many purchases were made
purchase_count_ts = top_spenders['Purchase ID'].count()
avg_purchase_ts = top_spenders["Price"].mean()
purchase_total_ts = top_spender['Price'].sum()

spending_df = pd.DataFrame({"Purchase Count": purchase_count_ts,
                           "Avg Purchase Price":avg_purchase_ts,
                           "Total Purchase Value": purchase_total_ts})

top_five_df = spending_df.sort_values(['Total Purchase Value'], ascending = False)
top_five_df.head(5)

             Purchase Count  Avg Purchase Price  Total Purchase Value
SN
Lisosia93                 5            3.792000                 18.96
Idastidru52               4            3.862500                 15.45
Chamjask73                3            4.610000                 13.83
Iral74                    4            3.405000                 13.62
Iskadarya95               3            4.366667                 13.10

In [487]:
# Most Popular Items

In [488]:
# group by Item ID, Item Name
popular_items = hopy_df.groupby(["Item ID","Item Name"])

# Count which item appeared the most
popular_value = popular_items['Price'].sum()
popular_count = popular_items['Price'].count()
popular_item_value = popular_value / popular_count


popular_items_df = pd.DataFrame({"Purchase Count":popular_count,
                                "Item Price":popular_item_value,
                                 "Total Purchase Value":popular_value})

top_items_df = popular_items_df.sort_values(['Purchase Count'], ascending = False)
top_items_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [489]:
# Most Profitable Items

In [491]:
profitable_df = popular_items_df.sort_values(["Total Purchase Value"], ascending = False)
profitable_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80